{% extends "forum/forum_base.html" %}

{% block title %}{{ sub_category.name }}{% endblock %}

{% block content %}

    <div class="panel {% if sub_category.category.auth_only %}panel-warning{% else %}panel-primary{% endif %}">
        <div class="panel-heading">
          <h3 class="panel-title">{{ sub_category.name }}</h3>
        </div>
        <div class="panel-body">
                <form enctype="multipart/form-data" action="{% url "forum:subcategory" sub_category.id %}"
                      method="post" class="col-md-6">
                    <fieldset>
                        <legend>New thread</legend>
                         {% include "forum/partial/form.html" with form=form %}
                        <input type="submit" value="Post" class="btn btn-default"/>
                    </fieldset>
                </form>
        </div>
    </div>

    {% for thread in sub_category.thread_set.all|dictsortreversed:'date' %}
        <div class="panel panel-default">
            <div class="panel-body">
            <!--Thread header-->
            {% include "forum/partial/thread_header.html" with thread=thread %}
                {% for post in thread.post_set.all|dictsortreversed:'date'|slice:":2" %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class=pull-right>
{#                            {% if user.is_superuser %}#}
{#                                 <a href="{% url 'forum:post_update' post.id %}"#}
{#                                   class="btn btn-primary" data-action='post-update'>Update</a>#}
{#                                 <a href="{% url 'forum:post_delete' post.id %}"#}
{#                                   class="btn btn-primary" data-action='delete'>Delete</a>#}
{#                            {% endif %}#}
                            </div>
                            {% include "forum/partial/post_body.html" with post=post%}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    {% load static %}
    {% if user.is_superuser %}
        <script src="{% static 'forum/scripts/thread_management.js' %}"></script>
    {% endif %}
{% endblock %}