<form method="post" action="{% url 'forum:login' %}" id="login-form">
{#    {% csrf_token %}#}
{#    {{ form.non_field_errors }}#}
{#    {% for field in form %}#}
{#        <div class="row">#}
{#            <div class="error">{{ field.errors }}</div>#}
{#            <br/>#}
{#            <div class="lable">{{ field.label }}</div>#}
{#            <div class="field">{{ field }}</div>#}
{#        </div>#}
{#    {% endfor %}#}
    {% include "forum/partial/form.html" with form=form %}
    {% if show_button %}
        <input type="submit" value="Login" />
    {% endif %}
</form>