<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static 'forum/css/themes/yeti.bootstrap.min.css' %}' />
    <link rel="stylesheet" type="text/css" href='{% static 'forum/css/common.css' %}' />
    <script src="//code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'forum/scripts/account.js' %}"></script>
</head>

<body>
    <div class="container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    {% include "forum/partial/account/login_modal.html"  %}
    {% include "forum/partial/account/registration_modal.html"  %}
    </div>
</body>
</html>
