<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static 'forum/css/themes/yeti.bootstrap.min.css' %}' />
    <link rel="stylesheet" type="text/css" href='{% static 'forum/css/common.css' %}' />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
{#    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>#}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'forum/scripts/login.js' %}"></script>
    <script src="{% static 'forum/scripts/registration.js' %}"></script>
</head>

<body>
    <div class="container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
