{% extends 'forum/base.html' %}

{% block header %}
    <!-- HEADER -->
    <div class="row">
        <div class=col-md-12>
            <div class="pull-right">
                <a href="{%  url 'forum:index' %}">Dashboard</a> |
                {% if user.is_authenticated %}
                    <a href="{% url 'forum:logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'forum:login' %}" id="login">Sign In</a>
                    |
                    <a href="{% url 'forum:registration' %}" id="registration">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% load forum_filters %}
            {% for category in categories|filter_by_permissions:user|dictsort:'auth_only' %}
                <p>
                    <strong class="{% if category.auth_only %}text-warning{% endif %}">{{ category.name }}:</strong>
                        {% for subcategory in category.subcategory_set.all %}
                                <a href="{% url "forum:subcategory" subcategory.id %}">{{ subcategory.name }}</a>
                        {% endfor %}
                </p>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="pull-right">
                {% load static %}
                <img class="img-responsive logo" alt="Logo" src="{% static 'forum/images/logo.png' %}" ></imag>
            </div>
        </div>
    </div>

    {% if user.is_superuser %}
        {% include "forum/partial/modal.html" with id='update-form-container' title='Update' %}
        {% include "forum/partial/modal.html" with id='delete-form-container' title='Delete' %}
    {% endif %}
{% endblock %}

