{% extends 'forum/base.html' %}

{% block header %}
    <!-- HEADER -->
    <div class=row>
        <div class="col-md-10">
            {% for category in categories %}
                <p>
                    <strong class="{% if category.auth_only %}text-warning{% endif %}">{{ category.name }}:</strong>
                    <ul>
                        {% for subcategory in category.subcategory_set.all %}
                            <li>
                                <a href="{% url "forum:subcategory" subcategory.id %}">{{ subcategory.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </div>
        <div class="col-md-2">

            <div class="pull-right">
                <a href="{%  url 'forum:index' %}">Dashboard</a> |
                {% if request.user %}
                    <a href="{% url 'forum:logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'forum:login' %}">Login</a>
                {% endif %}
            </div>
            <div>
                <img class="img-responsive" alt="Logo"></img>
            </div>
        </div>
    </div>
{% endblock %}
