{% extends "forum/forum_base.html" %}

{% block title %}
    {{ thread.subject }}
{% endblock %}

{% block content %}
    <h1><a href="{% url 'forum:subcategory' thread.sub_category.id %}">{{ thread.sub_category.name }}</a></h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ thread.subject }}</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data"
                  action="
                      {% if reply_to %}
                      {% url "forum:reply_to_post" thread.id reply_to%}
                      {% else %}
                      {% url "forum:thread" thread.id %}
                      {% endif %}"
                  method="post"  class="col-md-6">
                    <fieldset>
                        <legend>Reply</legend>
                            {% include "forum/partial/form.html" with form=form %}
                        <input type="submit" value="Post" class="btn btn-default"/>
                    </fieldset>
                </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <!--Thread header-->
            {% include "forum/partial/thread_header.html" with thread=thread %}
            {% for post in thread.post_set.all|dictsort:'date' %}
                <div class="panel panel-default" id="{{ post.id }}">
                    <div class="panel-body">
                        <div class=pull-right>
                            <a href="{% url 'forum:reply_to_post' thread.id post.id %}"
                                   class="btn btn-default pull-right" >Reply</a>
                        </div>
                        {% include "forum/partial/post_body.html" with post=post%}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="alert alert-dismissible alert-warning" id="new-posts-notification" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>New posts are available.</strong>
        <br>
        <a href="{% url 'forum:thread' thread.id %}"  class="alert-link">Reload page</a>
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'forum/scripts/thread.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            newPostsListener.start("{% url 'forum:check_new_posts' thread.id thread_loading_date%}")
        });
    </script>
{% endblock %}