ul{
    margin: 0;
    padding: 0;
}
li{
    /*list-style: none;*/
    padding: 0;
    margin: 0;
    display: block;
}

label, input, textarea{
    display: block!important;
}

.replies {
    font-style: italic;
    font-size: 0.9em;
}

.validation-errors{
    color: #f04124;
}