<div class="row">
    {% if  thread.image %}
        <div class=col-md-2>
            <img class="img-responsive"
                src="{{ thread.image.url }}" />
            </div>
        <div class=col-md-10>
    {% else %}
        <div class=col-md-12>
    {% endif %}
            <h4>
                <strong>#{{ thread.id }} | {{ thread.subject }}</strong>
                <span>
                    Created: {{ thread.date|date:"M d Y" }}
                    by {{ thread.user_name }}
                </span>
                <a href="{% url 'forum:thread' thread.id %}"
                       class="btn btn-default" >Reply</a>
            </h4>
            <p>
                {{ thread.message }}
            </p>
            {% if thread.post_set.all.count > 0 %}
                <p class="replies">
                    replies:
                    {% for post in thread.post_set.all %}
                        <a href="{%  url 'forum:thread' thread.id %}#{{ post.id }}">
                            #{{ post.id }}
                        </a>
                    {% endfor %}
                </p>
            {% endif %}
    </div>
</div>